.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.feedback-container {
  padding-left: 25%;
  padding-right: 25%;
}

.review-container {
  display: flex;
  flex-direction: column;
  padding-left: 25%;
  padding-right: 25%;
  align-items: center;
}

.table-container {
  padding: 5%;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.spacer {
  width: 2rem;
}

.text {
  justify-self: center;
}
